@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;500;700;900&family=Yomogi&display=swap');

:root{
    --btn-hover: #00000010;
    --btn-active: #1f77c028;
    --primary-sidebar-wrapper: #eaf0f9;
}

html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
}

.index-wrapper{
    height: 100vh;
    float: right;
}

.displayScreen{
    width: calc(100vw - 120px);
    height: 100%;
    overflow: hidden;
}

.sidebar-wrapper{
    position: fixed;
    padding: 5px 0;
    top: 0;
    left: 0;
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-sidebar-wrapper);
    font-family: 'Gothic A1', sans-serif;
}

.m3-icon{
    padding: 2px 20px;
    border-radius: 30px;
    margin-bottom: 5px;
}

.m3-icon::after{
    content: '';
    position: absolute;
    transform: scaleX(0);
    width: 64px;
    height: 28px;
    border-radius: 30px;
    background-color: var(--btn-active);
    transform-origin: center;
    transition: transform 190ms ease-in-out;
    margin: -2px 0 0 -44px;
}

.key-btn{
    padding: 0 10px;
    margin: 5px 0;
    justify-content: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

.key-btn:hover .m3-icon{
    background-color: var(--btn-hover);
}

.key-about:hover .m3-icon{
    background-color: var(--btn-hover);
}

.active:hover .m3-icon{
    background-color: transparent;
}

.key-btn:active .m3-icon::after{
    background-color: var(--btn-active);
    transform: scaleX(1);
}

.active .m3-icon::after{
    background-color: var(--btn-active);
    transform: scaleX(1);
}

.key-about{
    padding: 15px 10px;
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

iframe,img{
    width: calc(100vw - 120px);
    height: 100vh;
}