@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;500;700;900&family=Yomogi&display=swap');

:root{
    --btn-hover: #00000010;
    --btn-active: #1f77c028;
    --primary-sidebar-wrapper: #eaf0f9;
}

html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
}

.index-wrapper{
    height: 100vh;
    float: right;
}

.displayScreen{
    width: calc(100vw - 120px);
    height: 100%;
    overflow: hidden;
}

.home-wrapper,.About-wrapper{
    position: absolute;
    box-sizing: border-box;
    width: calc(100vw - 120px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
    overflow: hidden;
    background-color: #fff;
}

.page-title{
    position: absolute;
    top: 20px;
    right: 30px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.page-title:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 4px;
    top: 40px;
    right: -10px;
    background-color: #000;
}

.page-hide{
    visibility: hidden;
    display: none;
}

.page-active{
    visibility: visible;
    display: flex;
}

.title-1{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 15px;
}

.protect-state{
    font-size: 28px;
    font-weight: 900;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

p::before{
    content: 'For test only: ';
    position: absolute;
    color: #000000;
    display: contents;
}

.sidebar-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-sidebar-wrapper);
    font-family: 'Gothic A1', sans-serif;
}

.m3-icon{
    padding: 2px 20px;
    border-radius: 30px;
    margin-bottom: 5px;
}

.key-btn{
    padding: 0 10px;
    margin: 5px 0;
    justify-content: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

.key-btn:hover .m3-icon{
    background-color: var(--btn-hover);
}

.key-about{
    padding: 15px 10px;
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

.key-about:hover .m3-icon{
    background-color: var(--btn-hover);
}